@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';


* {
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 14px;  
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.customNodeBody img {
  pointer-events: none;
}

.customNodeBody {
  padding: 12px;
  padding-top: 44px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* .customNode:hover {
  outline: 3px solid blue;
} */

/* .customNode.selected {
  outline: 3px solid #0041d0;
} */

.customNode:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  height: 20px;
  width: 40px;
  transform: translate(-50%, 0);
  background: #DAE5EF;
  z-index: 10000;
  line-height: 1;
  border-radius: 4px;
  color: #fff;
  font-size: 9px;
  border: 2px solid #222138;
}

.react-flow {
  background-color: ghostwhite;
}
.react-flow__handle {
  opacity: 0;
}

/* .MuiButton-root {
  border-radius: 0px;
  text-align: center;
  font-weight: 400;
} */

.MuiToolbar-root {
  height: 20px;
  background-color: white;
}

.MuiFormControlLabel-root {
  font-size: 10pt;
}

.MuiPaper-root {
  background-color: white;
}

.MuiSlider-root {
  color: #2D4778;
}

.MuiInputLabel-root {
  color: black;
  z-index: 999;
}

.MuiInputLabel-root.Mui-focused {
  color: black;
  background: white;
  z-index: 999;
}

/* .MuiSelect-select {
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
} */

/* .MuiInputBase-input {
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
} */

.MuiTextField-input {
  padding: 10px;
}

/* .MuiInputBase-root.Mui-focused {
  
} */

.MuiOutlinedInput-root {
  padding: 0px;
}

/* 
.MuiMuiInputBase-input-MuiOutlinedInput-input {
  color: red;
  border: black;
} */

div.customHandle {
  width: 100%;
  height: 100%;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  transform: none;
  border: none;
  opacity: 0;
}

.dndflow aside {
  padding: 0px 10px;
  font-size: 12px;
  background: #fcfcfc;
  height: 60vh;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }
}

aside {
  z-index: 100;
}